
.light_blue_button{
    cursor:pointer;
    text-align:center;
    height: 100%;
    float:right;
    color: #ffffff;
    font-size:15px;
    background-color: #319aa8; /* Old browsers */
    background: -moz-linear-gradient(top, #3bb3c3, #319aa8 ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#3bb3c3), color-stop(19%,#319aa8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3bb3c3 ,#319aa8 ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3bb3c3,#319aa8 ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3bb3c3,#319aa8); /* IE10+ */
    background: linear-gradient(to bottom, #3bb3c3,#319aa8); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb3c3', endColorstr='#319aa8',GradientType=0 ); /* IE6-9 */
}
.light_blue_button:hover{
    background-color: #319aa8; /* Old browsers */
    background: -moz-linear-gradient(top,  #319aa8 #3bb3c3); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#3bb3c3), color-stop(19%,#319aa8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #319aa8,#3bb3c3  ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #319aa8,#3bb3c3 ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #319aa8,#3bb3c3 ); /* IE10+ */
    background: linear-gradient(to bottom, #319aa8,#3bb3c3 ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#319aa8', endColorstr='#3bb3c3',GradientType=0 ); /* IE6-9 */
}

.light_blue_button:active{
    background-color:#f2f2f2;

    color: #666;
    background: -moz-linear-gradient(top,  #f2f2f2 #f2f2f2); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#f2f2f2), color-stop(19%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f2f2,#f2f2f2  ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f2f2,#f2f2f2 ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f2f2,#f2f2f2 ); /* IE10+ */
    background: linear-gradient(to bottom, #f2f2f2,#f2f2f2 ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.grey_dark{
background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.81, #FFFFFF),
	color-stop(1, #E8F5FC)
);
background-image: -o-linear-gradient(top, #FFFFFF 81%, #E8F5FC 100%);
background-image: -moz-linear-gradient(top, #FFFFFF 81%, #E8F5FC 100%);
background-image: -webkit-linear-gradient(top, #FFFFFF 81%, #E8F5FC 100%);
background-image: -ms-linear-gradient(top, #FFFFFF 81%, #E8F5FC 100%);
background-image: linear-gradient(to top, #FFFFFF 81%, #E8F5FC 100%);
}
.light_to_orange{
    background-color: #fffaf2; /* Old browsers */
         background: -moz-linear-gradient(top, #fffaf2 30%, #ffffff 40% ); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#fffaf2), color-stop(19%,#ffffff)); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top, #fffaf2 20% ,#ffffff 40% ); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top, #fffaf2,#ffffff ); /* Opera 11.10+ */
         background: -ms-linear-gradient(top, #fffaf2,#ffffff); /* IE10+ */
         background: linear-gradient(to bottom, #fffaf2,#ffffff); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaf2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.light_to_dark{
    background-color: #e6f3f5; /* Old browsers */
         background: -moz-linear-gradient(top, #e6f3f5 30%, #ffffff 40% ); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#e6f3f5), color-stop(19%,#ffffff)); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top, #e6f3f5 20% ,#ffffff 40% ); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top, #e6f3f5,#ffffff ); /* Opera 11.10+ */
         background: -ms-linear-gradient(top, #e6f3f5,#ffffff); /* IE10+ */
         background: linear-gradient(to bottom, #e6f3f5,#ffffff); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f3f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.grey_background{
background-color: rgba(211,248,245,0.1)
}

.title-divider {
text-align: center;
max-height: 65px;
overflow: hidden;
margin: 0 0 20px;
margin-top:20px;
}

.title-divider h2 {
line-height: 25px;
font-size:22px;
}


#nav {
    margin: 0;
    padding: 4px 3px 0;
    background: #ffffff;
    line-height: 100%;
    padding-top:40px;
}
#nav li {
    margin: 0 5px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
}


/* main level link */
#nav a {
    color: #666;
    text-decoration: none;
    display: block;
    padding:  8px 12px;
    margin: 0;
}
#nav a:hover {
    background: #000;
    color: #fff;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
    background: #ffffff;
    color: #444;
    border-top: solid 1px #f8f8f8;

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    box-shadow: 0 1px 1px rgba(0,0,0, .2);

    text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
    
    border: none;
    color: #666;
    background-color: #fff;
    z-index: 100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#nav ul a:hover {
    background: #64b7c4 url(img/gradient.png) repeat-x 0 -100px !important;
    color: #fff !important;

    text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
    display: block;
    background-color: #fff;
}

/* level 2 list */
#nav ul {
    display: none;
    background-color: #fff;

    margin: 0;
    padding: 0;
    width: 260px;
    position: absolute;
    top: 35px;
    left: 0;

    border: solid 1px #b4b4b4;
    background-color: #ffffff;


    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    z-index: 100;
}

#nav ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
    left: 181px;
    top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
    -webkit-border-top-left-radius: 2px;


    -webkit-border-top-right-radius: 2px;
}
#nav ul li:last-child > a {
    -webkit-border-bottom-left-radius: 2px;

    -webkit-border-bottom-right-radius: 2px;
}

/* clearfix */
#nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#nav {
    display: inline-block;
} 
html[xmlns] #nav {
    display: block;
}

* html #nav {
    height: 1%;
}    


.compareTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 5px 5px 10px #888888;
	border:1px solid #25b3db;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}.compareTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.compareTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
.compareTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.compareTable table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}.compareTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}.compareTable tr:hover td{
	
}
.compareTable tr:nth-child(odd){ background-color:#bbe2ed; }
.compareTable tr:nth-child(even)    { background-color:#ffffff; }.compareTable td{
	vertical-align:middle;
	
	
	border:1px solid #25b3db;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:5px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.compareTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.compareTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.compareTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.compareTable tr:first-child td{
		background:-o-linear-gradient(bottom, #36b2db 5%, #1095ba 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36b2db), color-stop(1, #1095ba) );
	background:-moz-linear-gradient( center top, #36b2db 5%, #1095ba 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#36b2db", endColorstr="#1095ba");	background: -o-linear-gradient(top,#36b2db,1095ba);

	background-color:#36b2db;
	border:0px solid #25b3db;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}
.compareTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #36b2db 5%, #1095ba 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36b2db), color-stop(1, #1095ba) );
	background:-moz-linear-gradient( center top, #36b2db 5%, #1095ba 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#36b2db", endColorstr="#1095ba");	background: -o-linear-gradient(top,#36b2db,1095ba);

	background-color:#36b2db;
}
.compareTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.compareTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}